<ul>
  <li><%= link_to comment.content, comment_url(comment) %></li>

  <% all_comments[comment.id].try(:each) do |c| %>
    <%= render 'comments/comment', comment: c, all_comments: all_comments %>
  <% end %>
</ul>
