<h1><%= @sub.title %></h1>
<h2>Moderator: <%= @sub.moderator.username %> </h2>
<br>

<% @sub.posts.each do |post| %>
  <%= link_to post.title, post_url(post)  %>
  <br>
<% end %>
<br>

<%= link_to "New Post", new_sub_post_url(@sub) %>
